@import "reset";
@import "font";
@import "colors";

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Golos, sans-serif;

  background-color: var(--sky-50);

  &::-webkit-scrollbar {
    width: 5px;

    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;

    background-color: var(--emerald-400);
  }
}

a {
  text-decoration: none;

  color: inherit;
}
